<script>
    var disqus_shortname='{{ site.disqus_shortname }}',disqus_identifier='{{ page.url }}',disqus_url='{{ site.url}}{{ page.url }}',disqus_title='{{ page.title | replace: "'", "\\'" }}'{% unless site.production %},disqus_developer=1{% endunless %};
    (function(d,t){
      function i(u){var j=d.createElement(t),s=d.getElementsByTagName(t)[0];j.src=u;s.parentNode.insertBefore(j,s);}
      {% if page.comments %}
      i('//{{ site.disqus_shortname }}.disqus.com/embed.js');
      {% endif %}
      i('//{{ site.disqus_shortname }}.disqus.com/count.js');
    }(document,'script'));
</script>
