# ***************************
# SITE CONFIG
# ***************************

# Full url for the site minus the ending forward slash. 
url:

# Appears in the <title> and <header> elements within the site.
title:

# Optional. Appears in the site's main <header> element.
#subtitle:

# Used in various places where the author of the site needs to appear. 
# For example, the copyright notice.
# Also appears in the RSS feed.
author:

# Used in the meta description tag of the site and the description element of the RSS feed.
description:

# Optional information that appears in the 'Contact' sidebar.
# Mainly used to generate URLs to various social sites.

# email address of the site author. Also appears in the RSS feed if specified.
#email:

# Twitter name minus the @ character. 
#twitter:

# Git hub name.
#github:

# Facebook username
#facebook

# Controls the number of recent posts shown on the main index page and in the RSS feed.
max_recent_posts: 10

# Used in the footer of the site and RSS feed. 
copyright_year:

# Optional Google analytics.
#google_ua:

# Optional Feedburner ID.
#feedburner:

# ***************************
# JEKYLL CONFIG
# ***************************

# Markdown engine that will be used.
markdown: rdiscount

# Directory where Jekyll will look to transform files.
source: _site_build

# Directory where Jekyll will save transformed files.
destination: public

# Format that Jekyll will use when generating URLs to posts.
permalink: /archives/:year/:month/:day/:title/

# ***************************
# PLUGINS CONFIG
# ***************************

# Directory where plugins are located.
plugins: _site_build/_plugins

# Set to true to have Jekyll generate category pages for posts.
#generate_category_indexes: true

# The directory where categories will be served from. Defaults to categories
#category_dir:

# String prefixed to the title of the category page. Defaults to Category: 
#category_title_prefix:

# String prefixed to the meta description of the category page. Defaults to Category:
#category_meta_description_prefix:
