/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	
-------------------------------------------------- */
.container { padding: 0px 20px; }

.row { width: 100%; max-width: 980px; min-width: 727px; margin: 0 auto; }
/* To fix the grid into a certain size, set max-width to width */
.row .row { min-width: 0px; }

.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
.column:first-child, .columns:first-child { margin-left: 0px; }

.row .one.columns { width: 4.3%; }
.row .two.columns { width: 13%; }
.row .three.columns { width: 21.68%; }
.row .four.columns { width: 30.4%; }
.row .five.columns { width: 39.1%; }
.row .six.columns { width: 47.8%; }
.row .seven.columns { width: 56.5%; }
.row .eight.columns { width: 65.2%; }
.row .nine.columns { width: 73.9%; }
.row .ten.columns { width: 82.6%; }
.row .eleven.columns { width: 91.3%; }
.row .twelve.columns { width: 100%; }

.row .offset-by-one 	{ margin-left: 13.1%;  }
.row .offset-by-two 	{ margin-left: 21.8%;  }
.row .offset-by-three 	{ margin-left: 30.5%;  }
.row .offset-by-four 	{ margin-left: 39.2%;  }
.row .offset-by-five 	{ margin-left: 47.9%;  }
.row .offset-by-six 	{ margin-left: 56.6%;  }
.row .offset-by-seven 	{ margin-left: 65.3%;  }
.row .offset-by-eight 	{ margin-left: 74.0%;  }
.row .offset-by-nine 	{ margin-left: 82.7%;  }
.row .offset-by-ten 	{ margin-left: 91.4%;  }
/*.row .offset-by-eleven 	{ margin-left: 95.7%;  }*/

.row .one.centered { margin-left: 47.9%; }
.row .two.centered { margin-left: 43.5%; }
.row .three.centered { margin-left: 39.2%; }
.row .four.centered { margin-left: 34.8%; }
.row .five.centered { margin-left: 30.5%; }
.row .six.centered { margin-left: 26.1%; }
.row .seven.centered { margin-left: 21.8%; }
.row .eight.centered { margin-left: 17.4%; }
.row .nine.centered { margin-left: 13.1%; }
.row .ten.centered { margin-left: 8.7%; }
.row .eleven.centered { margin-left: 4.3%; }

.row .offset-by-one:first-child 	{ margin-left: 8.7%;  }
.row .offset-by-two:first-child 	{ margin-left: 17.4%;  }
.row .offset-by-three:first-child 	{ margin-left: 26.1%;  }
.row .offset-by-four:first-child 	{ margin-left: 34.8%;  }
.row .offset-by-five:first-child 	{ margin-left: 43.5%;  }
.row .offset-by-six:first-child 	{ margin-left: 52.2%;  }
.row .offset-by-seven:first-child 	{ margin-left: 60.9%;  }
.row .offset-by-eight:first-child 	{ margin-left: 69.6%;  }
.row .offset-by-nine:first-child 	{ margin-left: 78.3%;  }
.row .offset-by-ten:first-child 	{ margin-left: 87%;  }
.row .offset-by-eleven:first-child 	{ margin-left: 95.7%;  }

img, object, embed { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }
 
 /* Nicolas Gallagher's micro clearfix */
 .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
 .row:after, .clearfix:after { clear: both; }
 .row, .clearfix { *zoom: 1; }

/* ==|== primary styles =====================================================
   Author: David T. Sadler 
   ========================================================================== */
body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif; 
}

a, a:visited {
  text-decoration: none;
  color: #2A85E8;
}

a:hover {
  color: #11639D;
}

a:focus {
  color: #CC4714
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

article h1, section#about  h1, section#archives h1, section#category > h1 {
  font-size: 1.461538462em; /* 19 / 13 */
}

section#about h1, section#archives h1, section#category > h1 {
  margin-bottom: 1em;
}

article h2, section#about h2, section#archives h2 {
  font-size: 1.1538461538em; /* 15 / 13 */
}

section#archives h2 {
  margin-bottom: 1em;
}

#header {
  margin-bottom: 3em; /* 39 / 13 */
  border-bottom: 1px solid #CCCCCC;
}

#header h1 {
  font-size: 3em; /* 39 / 13 */
}

#header h1 a {
  color: #000000;
}

#header h2 {
  margin-bottom: 0.5em;
  font-size: 2em; /* 26 / 13 */
  font-style: italic;
  font-weight: lighter;
  color: #777777;
}

#site-navigation h2, #social h2 {
  font-size: 1.461538462em; /* 19 / 13 */
}

#site-navigation ul, #social ul {
  margin: 0.5em 0 1em 1em;
  padding: 0;
  list-style: none;
  font-size: 1.1538461538em; /* 15 / 13 */
}

#social ul span {
  display: inline-block;
  width: 4.5em;
  color: #999999;
  text-transform: lowercase;
}

article header time, article .categories, article .comment-count {
  color: #999999;
}

article header .social {
  margin-top: 0.5em;
}

article .google-plus, article .twitter-share, article .fb-like {
  font-size: 1px;
  display: inline;
}

article div .fb_reset {
    display: inline;
} 

article .categories a {
  font-style: italic
}

article.excerpt {
  margin-bottom: 2em;
}

article li.prev-article a, article li.next-article a {
  display: block;
}

article li.prev-article {
  float: left;
  width: 50%;
}

article li.next-article {
  float: right;
  text-align: right;
  width: 50%;
}

article footer nav {
  margin-top: 1em;
}

article footer nav ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

section#archives ol {
  list-style-type: disc;
}

/* ==|== non-semantic helper classes ======================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

./* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
.show-on-phones { display: none !important; }	
.show-on-tablets { display: none !important; }
.show-on-desktops { display: block; }

.hide-on-phones { display: block !important; }	
.hide-on-tablets { display: block !important; }
.hide-on-desktops { display: none; }

/* ==|== media queries ====================================================== */
/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */
/* Mobile */
@media only screen and (max-width: 767px) {
  body { -webkit-text-size-adjust: none; }
  
  .row, body, .container { width: 100%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
  .row .row .column, .row .row .columns { padding: 0; }
  .column, .columns { width: auto !important; float: none; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; }
  .column:last-child, .columns:last-child { margin-right: 0px; }
  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left: 0% !important; }
  .hide-on-phones { display: none !important; }
  .hide-on-tablets { display: block !important; }
  .hide-on-desktops { display: block !important; }
  
  .show-on-phones { display: block !important; }
  .show-on-tablets { display: none !important; }
  .show-on-desktops { display: none !important; }

  #site-navigation h2, #social h2 {
    margin: 0 -20px;
    padding: 0.5em 20px 0.5em 20px;
    background-color: #CCCCCC;
    color: #ffffff;
    font-size: 1.461538462em; /* 19 / 13 */
  }

  #site-navigation ul, #social ul {
    margin: 0 -20px;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.461538462em; /* 19 / 13 */
  }

  #site-navigation li, #social li {
    border-top: 1px solid #CCCCCC;
  }

  #site-navigation a, #social a {
    display: block;
    padding: 0.5em 20px 0.5em 20px;
  }

  article footer nav ul
  {
    padding: 1.5em 0;
  }
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 800px) {
  .hide-on-phones { display: block !important; }
  .hide-on-tablets { display: none !important; }
  .hide-on-desktops { display: block !important; }
  
  .show-on-phones { display: none !important; }
  .show-on-tablets { display: block !important; }
  .show-on-desktops { display: none !important; }
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ==|== pygments styles ======================================================= */

.highlight pre { padding: 0.5em; }
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
