<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  {% include head.html %}
</head>
<body>
  <div class="container">
    <div id="header" class="row">
      <div class="twelve columns">
        {% include header.html %}
      </div>
    </div>
    <div id="content" class="row">
      <div class="eight columns">
        {{ content }}
      </div>
      <div class="four columns">
        {% include sidebar.html %}
      </div>
    </div>
    <div id="footer" class="row">
      <div class="twelve columns">
        {% include footer.html %}
      </div>
    </div>
  </div>
{% if site.production and site.google_ua %}
  {% include google_analytics.html %}
{% endif %}
{% if (page.comments or page.show_comment_counts) and site.disqus_shortname %}
  {% include disqus.html %}
{% endif %}
</body>
</html>
