---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: '%A' }} {{ page.date | ordinalize }} {{ page.date | date: '%B, %Y' }}</time>
    {% if site.generate_category_indexes and page.categories.size != 0 %}
    <span class="categories"> | Posted in {{ page.categories | category_links }}</span>
    {% endif %}
    {% if page.comments and site.disqus_shortname %}
    <span class="comment-count"> | <a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a></span>
    {% endif %}
    {% if page.social %}
    <div class="social">
      {% if page.google_plus %}{% include social/google_plus.html %}{% endif %}
      {% if page.twitter_share %}{% include social/twitter_share.html %}{% endif %}
      {% if page.facebook_like %}{% include social/facebook_like.html %}{% endif %}
    </div>
    {% endif %}
  </header>
  {{ content }}
  <footer>
    {% if page.social %}
    <div class="social">
      {% if page.google_plus %}{% include social/google_plus.html %}{% endif %}
      {% if page.twitter_share %}{% include social/twitter_share.html %}{% endif %}
      {% if page.facebook_like %}{% include social/facebook_like.html %}{% endif %}
    </div>
    {% endif %}
    <nav>
      <ul>
        {% if page.previous.url %}
        <li class="prev-article"><a href="{{ page.previous.url }}" target="_self" rel="prev bookmark" title="{{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
        {% endif %}
        {% if page.next.url %}
        <li class="next-article"><a href="{{ page.next.url }}" target="_self" rel="next bookmark" title="{{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  </footer>
  {% if page.comments and site.disqus_shortname %}
  <aside>
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </aside>
  {% endif %}
</article>
