<article class="excerpt">
  <header>
    <h1><a href="{{ post.url }}" rel="bookmark" target="_self" title="{{ post.title }}">{{ post.title }}</a></h1>
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}" pubdate>{{ post.date | date: '%A' }} {{ post.date | ordinalize }} {{ post.date | date: '%B, %Y' }}</time>
    {% if post.categories.size != 0 %}
    <span class="categories"> | Posted in {{ post.categories | category_links }}</span>
    {% endif %}
    {% if post.comments and site.disqus_shortname %}
    <span class="comment-count"> | <a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a></span>
    {% endif %}
  </header>
  {{ post.content | truncate }}
</article>
