---
layout: nil
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/rss.xml" rel="self" type="application/rss+xml" />
    <description>{{ site.description }}</description>
    <copyright>Copyright {{ site.copyright_year }} by {{ site.author }}. All Rights Reserved.</copyright>
    {% if site.email %}
    <managingEditor>{{ site.email }} ({{ site.author }})</managingEditor>
    <webMaster>{{ site.email }} ({{ site.author }})</webMaster>
    {% else %}
    <dc:creator>{{ site.author }}</dc:creator>
    {% endif %}
    <pubDate>{{ site.time | date: "%a, %d %b %Y %H:%M:%S %z"}}</pubDate>
    <lastBuildDate>{{ site.time | date: "%a, %d %b %Y %H:%M:%S %z" }}</lastBuildDate>
    <ttl>1440</ttl>
    {% for post in site.posts limit:site.max_recent_posts %}
    <item>
      <title>{{ post.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url}}{{ post.url}}</guid>
      <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
      {% if site.email %}
      <author>{{ site.email }} ({{ site.author }})</author>
      {% else %}
      <dc:creator>{{ site.author }}</dc:creator>
      {% endif %}
      <description>{{ post.content | text_excerpt | xml_escape }}</description>
      {% for category in post.categories %}
      <category>{{ category }}</category>
      {% endfor %}
    </item>
    {% endfor %}
  </channel>
</rss>
